
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$font-family: 'Montserrat', sans-serif;;

$normal:16px;
$small:14px;

$bold:700;
$semi-bold:600;

$purple: rgb(189, 55, 223);
$light-purple:rgb(251, 243, 253);